body {
    background-color: white;
}

#nav-main-box {
    display: flex;
    // background-color: red;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px black solid;
    background-color: whitesmoke;
    z-index: 1;
}

#nav-hamburger {

}

#nav-list {
    margin: 0;
    // padding: 0 5em;
    position: fixed;
    width: 80%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.555);
    top: 0;
    left: 0;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    background-color: white;
    z-index: 1000;

    div {
        padding: 1em;
    }

    ul {
        list-style-type: none;
        width: auto;

        li {
            margin: 0;
            padding: 1em;
        }
    }

}

#menu-foreground {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 999;
}